// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 100%;
  height: 100%;
  // background: url("fitmatrixbackgroud-seafoam-copy-v3.png");
}
.nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 110px;
  z-index: 1;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 100px;
}
.headerfont {
  position: absolute;
  top: 2px;
  left: 40%;
  z-index: 4;
  color: #26F6F6;
  text-shadow: black 3px 3px 3px;
  font-size: 3.5em;
  // font-family: 'Raleway Dots', cursive;
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Exo 2', sans-serif;
  // font-family: 'Krona One', sans-serif;
  // font-family: 'Righteous', cursive;
  // font-family: 'Orbitron', sans-serif;
  // font-family: 'Jura', sans-serif;
  // font-family: 'Monoton', cursive;
  font-family: 'Audiowide', cursive;
}
.dots {
  font-family: 'Raleway Dots', cursive;
  position: absolute;
  top: 70px;
  left: 45%;
  z-index: 4;
  font-size: 1.4em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
}
h1 {
  font-family: 'Exo 2', sans-serif;
  font-variant: small-caps;
  font-size: 2.8em;
  line-height: 1.3em;
  color: #26F6F6;
}
h2 {
  font-family: 'Exo 2', sans-serif;
  font-variant: small-caps;
  font-size: 2em;
  line-height: 1.1em;
}
h3 {
  font-family: 'Audiowide', cursive;
  font-variant: small-caps;
  font-size: 3em;
  line-height: 0.7em;
  color: black;
  margin-top: 5px;
}
li {
  list-style-type: none;
}
#quizdisplay {
  padding: 20px;
  height: 300px;
  width: 400px;
  z-index: 10;
  position: absolute;
  top: 275px;
  left: 0px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6); 
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  color: white;
}
.stopwatch {
  float: left;
  margin-top: 85px;
  border-radius: 10px;
  border-color: black 2px;
  padding: 20px;
  height: 350px;
  z-index: 10;
  width: 50%;
  background: rgb(0, 0, 0);
  background: rgba(118, 247, 247, 0.89);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  color: black;
  font-size: 1.4em;
}
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
button {
  background-color: #ff2b2b;
  color: white;
  border-radius: 30px;
  padding: 15px;
  margin: 5px;
}
button:hover {
  background-color: #26F6F6;
  box-shadow: black 2px 2px 2px;
  transition: 1s;
  color: black;
}
.littleboxes {
  background-color: #ff2b2b;
  width: 150px;
  border-radius: 10px;
  color: white;
  text-shadow: black 1px 1px 1px;
  padding: 10px;
  margin: 10px;
  display: flex;
  box-shadow: black 2px 2px 2px;
  position: relative;
  top: 150px;
  text-align: center;
}
main {
  background-color: white;
  border-width: 2px;
  width: 65%;
  box-shadow: rgb(51, 50, 36) 3px 3px 3px;
  border-radius: 10px;
  margin-top: 85px;
  padding: 5px;
  font-family: 'Raleway Dots', cursive;
  font-weight: 300;
  float: left; 
}
.mainworkout {
  background: rgba(250, 13, 13, 0.274);
  background: rgba(39, 17, 17, 0.6); 
  width: 60%;
  box-shadow: rgb(51, 50, 36) 3px 3px 3px;
  padding-left: 5px;
  padding-right: 10px;
  font-family: 'Raleway Dots', cursive;
  font-weight: 300;
  float: left;
  color: white;
}
.mainimg {
  width: 1450px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  display: none;
  z-index: 3;
  object-fit: fill;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: fadeIn forwards 0.5s;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  10% {opacity: 0.10;}
  15% {opacity: 0.15;}
  25% {opacity: 0.25;}
  35% {opacity: 0.35;}
  50% {opacity: 0.5;}
  60% {opacity: 0.6;}
  75% {opacity: 0.75;}
  85% {opacity: 0.85;}
  100% {opacity: 1;}
}
.stopwatch
.woimages {
  width:100%;
}
//sidebar
aside {
  width: 300px;
  float: right;
  background-color: rgb(56, 54, 54);
  box-shadow: rgb(92, 29, 30) 2px 2px 2px;
  color: #4FB1B1;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 85px;
  margin-right: 50px;
  padding: 15px;
  text-align: center;
}
.search-container {
  width: 200px;
}