// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 100%;
  height: 100%;
  background: url("fitmatrixbackgroud-red_v4-copy.png");
}
#quizdisplay {
  padding: 20px;
  height: 300px;
}
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
button {
  background-color: #ff2b2b;
  color: white;
  border-radius: 30px;
  padding: 15px;
  margin: 5px;
}
button:hover {
  background-color: #26F6F6;
  box-shadow: black 2px 2px 2px;
  transition: 1s;
  color: black;
}
.nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 1;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 100px;
}
.headerfont {
  position: absolute;
  top: 5px;
  left: 40%;
  z-index: 4;
  color: #26F6F6;
  text-shadow: black 3px 3px 3px;
  font-size: 3.5em;
  // font-family: 'Raleway Dots', cursive;
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Exo 2', sans-serif;
  // font-family: 'Krona One', sans-serif;
  // font-family: 'Righteous', cursive;
  // font-family: 'Orbitron', sans-serif;
  // font-family: 'Jura', sans-serif;
  // font-family: 'Monoton', cursive;
  font-family: 'Audiowide', cursive;
}
.dots {
  font-family: 'Raleway Dots', cursive;
  position: absolute;
  top: 70px;
  left: 45%;
  z-index: 4;
  font-size: 1.4em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
}
h1 {
  font-family: 'Exo 2', sans-serif;
  font-variant: small-caps;
  font-size: 2.8em;
  line-height: 1.3em;
}
h2 {
  font-family: 'Exo 2', sans-serif;
  font-variant: small-caps;
  font-size: 2em;
  line-height: 1.3em;
}
li {
  list-style-type: none;
}
.littleboxes {
  background-color: #ff2b2b;
  color: white;
  border-radius: 90px;
  padding: 10px;
  margin: 1px;
  display: flex;
  box-shadow: black 2px 2px 2px;
  // display: inline-grid;
}
main {
  border-style: solid;
  border-color: black;
  background-color: white;
  border-width: 2px;
  width: 65%;
  box-shadow: rgb(51, 50, 36) 1px 1px 1px;
  border-radius: 10px;
  margin-top: 140px;
  padding: 5px;
  font-family: 'Raleway Dots', cursive;
  font-weight: 300;
  float: left;
}
.mainworkout {
  border-style: solid;
  border-color: black;
  background-color: white;
  border-width: 2px;
  width: 65%;
  box-shadow: rgb(51, 50, 36) 1px 1px 1px;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Raleway Dots', cursive;
  font-weight: 300;
  float: left;
}
.woimages {
  width:100%;
}
//sidebar
aside {
  width: 200px;
  position: fixed;
  top: 180px;
  right: 20px;
  float: right;
  background-color: rgb(56, 54, 54);
  box-shadow: rgb(92, 29, 30) 2px 2px 2px;
  color: #4FB1B1;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 15px;
}
.search-container {
  width: 200px;
}